Q1. How can we store a s1ngle quote (‘) as a str1ng in a var1able?

In [1]:
a="'"

In [2]:
a

"'"

Q2. Refer the below var1able:
x = 'a'
Here, x is a character type or str1ng type var1able? Support your answer with an explanation.

ANS : In python we write the string in single or double quote .here x is a string type variable which store the value a of str type .

Q3. Apply the follow1ng funct1ons on th1s var1able: ‘Welcome to Python foundation course'
1. find ()
2. count()
3. len()
4. Concatena()

In [3]:
a="Welcome to Python Foundation Course"

In [11]:
a.find('P')

11

In [12]:
a.count('o')

6

In [16]:
len(a)

35

In [29]:
b="- Pay fees now "

In [30]:
concatenation= a+b

In [31]:
print (concatenation)

Welcome to Python Foundation Course- Pay fees now

Q4.For the var1able: word = 'PanaJi@12256'
Calculate the follow1ng:
(a) Total number of alphabets in lowercase
(b) Total number of alphabets in uppercase
(c) Total number of numerical in string

In [1]:
word='PanaJi@12256'

In [2]:
lowercase_count = sum(1 for char in word if char.islower())
print("total no. of alphabet in lowercase:",lowercase_count)

total no. of alphabet in lowercase: 4

In [3]:
uppercase_count = sum(1 for char in word if char.isupper())
print("total no. of alphabet in uppercase:",uppercase_count)

total no. of alphabet in uppercase: 2

In [7]:
number_count = sum(1 for num in word if num.isnumeric())
print("total no. of numerical in string: ",number_count)

total no. of numerical in string:  5

Q.5 Write a code to store a numerical value inside a variable then convert it into string?

In [8]:
num=10

In [9]:
numstr=str(num)

In [10]:
print("original num :",num)
print("converted into str :",numstr)

original num : 10
converted into str : 10